{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "plugins": ["react-hooks"],
  "rules": {
    "import/prefer-default-export": "off",
    // "import/no-webpack-loader-syntax": "off",
    "no-console": 2,
    "react-hooks/rules-of-hooks": "error",
    // "react-hooks/exhaustive-deps": "warn",
    // "max-len": ["off", {"code": 120}],
    "quotes": ["error", "single"],
    // "jsx-quotes": ["error", "prefer-double"],
    // "typescript/no-object-literal-type-assertion": "off",
    // "semi": ["error", "always"],
    // "no-shadow": ["error", { "allow": ["done"] }],
    "no-var": "error",
    "arrow-parens": "off",
    // "multiline-ternary": "off"
    // "brace-style":"off",
    // "react/jsx-curly-newline": "off",
    // "react/jsx-wrap-multilines": "off",
    // "no-multiple-empty-lines": "off",
    "react/require-default-props": "off",
    "max-classes-per-file": "off",
    "react/no-unused-prop-types": "off",
    "react/default-props-match-prop-types": "off"
    
  }
}
